<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Об авторе</title>
    <link rel="stylesheet" th:href="@{/css/menu.css}">
</head>
<body>

<nav>
    <ul>
        <li><a href="/static" class="home-button">Главная</a></li>
        <li><a href="/menu" class="active">Меню</a></li>
        <li><a href="/reserve">Брони</a></li>
        <li><a href="/recipes" th:if="${isAdmin}">Рецепты</a></li>
        <li><a href="/stock" th:if="${isAdmin}">Склад</a></li>
        <li><a href="/orders" th:if="${isAdmin}">Заказы</a></li>
        <li><a href="/statistics" th:if="${isAdmin}">Статистика</a></li>
    </ul>
</nav>

<div class="container">

    <h1>Нет такой страничьки</h1>

    <div class="credits">
        <a href="https://github.com/kitizh" target="_blank">GitHub</a>
    </div>

</div>
</body>
</html>