/* Общие стили */
body {
    margin: 0;
    font-family: 'Lucida Console', monospace;
    background-color: #F7F1ED;
    overflow-y: auto;
}

/* Контейнер страницы */
.container {
    margin: 0 auto;
    width: 75%;
    background-color: #FFF;
    padding: 20px 0;
    min-height: calc(100vh - 40px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Заголовок */
h1 {
    text-align: center;
    color: #241918;
    font-size: 32px;
    font-weight: bold;
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #E8C8B8;
}

/* Навигация */
nav {
    width: 100%;
    background-color: #F7E1D7;
    padding: 15px 0;
    border-bottom: 2px solid #E8C8B8;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #241918;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a.active {
    background-color: #D4A29C;
    color: #FFF;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

nav ul li a:hover {
    background-color: #E8C8B8;
    color: #FFF;
}

/* Вкладки */
.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab-button {
    background-color: #F7E1D7;
    color: #241918;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.tab-button.active {
    background-color: #E8C8B8;
    color: #FFF;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.tab-button:hover {
    background-color: #E8C8B8;
}

.tab-content {
    display: none;
    width: 100%;
}

/* Таблица меню */
.menu-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    margin: 20px 0;
    background-color: #FFF;
}

table.ingredients-table {
    width: 100%;
    table-layout: fixed;  /* Это сделает ширину ячеек равной по всей таблице */
    border-collapse: collapse;
    background-color: #FFF;
    margin: 20px 0;
    display: none;
}

table.ingredients-table-active {
    opacity: 1;
    transform: scaleY(1);
    transition: all 0.3s ease-in-out;
}

table.ingredients-table-enter {
    opacity: 0;
    transform: scaleY(0);
}

table.ingredients-table th, table.ingredients-table td {
    border: 2px solid #E8C8B8;
    padding: 10px;
    text-align: center;
    word-wrap: break-word;
}

table.ingredients-table th {
    background-color: #F7E1D7;
    color: #241918;
    font-weight: bold;
}

table.ingredients-table td {
    color: #241918;
}

.menu-table th, .menu-table td {
    border: 2px solid #E8C8B8;
    padding: 10px;
    text-align: center;
    word-wrap: break-word;
}

.menu-table th {
    background-color: #F7E1D7;
    color: #241918;
    font-weight: bold;
}

.menu-table td {
    color: #241918;
}

/* Фиксированная ширина столбцов */
.menu-table colgroup col:nth-child(1) { width: 30%; }
.menu-table colgroup col:nth-child(2) { width: 40%; }
.menu-table colgroup col:nth-child(3) { width: 15%; }
.menu-table colgroup col:nth-child(4) { width: 7.5%; }
.menu-table colgroup col:nth-child(5) { width: 7.5%; }

.menu-table colgroup col:nth-child(1) { width: 30%; }
.menu-table colgroup col:nth-child(2) { width: 40%; }
.menu-table colgroup col:nth-child(3) { width: 15%; }
.menu-table colgroup col:nth-child(4) { width: 7.5%; }
.menu-table colgroup col:nth-child(5) { width: 7.5%; }

/* Кнопки действий */
.admin-btn {
    text-decoration: none;
    color: #FFF;
    padding: 5px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin: 5px;
    transition: background-color 0.3s;
}

.admin-btn.edit {
    background-color: #4CAF50;
}

.admin-btn.delete {
    background-color: #E57373;
}

.admin-btn:hover {
    opacity: 0.8;
}

/* Стили списка рецептов */
.recipe-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.recipe-list li {
    background: #F7E1D7;
    margin: 5px 0;
    padding: 12px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.recipe-list li:hover {
    background-color: #E8C8B8;
}

/* Кнопка Edit */
.admin-actions {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.admin-actions button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s, transform 0.2s;
}

.admin-actions button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

/* Скрытие столбца действий, пока не включён режим редактирования */
.actions-column {
    display: none;
}

.edit-mode .actions-column {
    display: table-cell;
}

span.recipe-name {
    user-select: none;
}
