<h2>Edit Dish</h2>
<form th:action="@{/menu/edit/{id}(id=${menu.menuId})}" method="post">
    <label>Dish Name: <input type="text" name="dishName" th:value="${menu.dishName}" required></label>
    <label>Description: <input type="text" name="description" th:value="${menu.description}"></label>
    <label>Price: <input type="number" step="0.01" name="price" th:value="${menu.price}" required></label>
    <label>Type:
        <input type="text" name="menuType" th:value="${menu.menuType}" required> <!-- Теперь просто текстовое поле -->
    </label>
    <button type="submit">Update</button>
</form>
