<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" th:href="@{/css/menu.css}">
</head>
<body>

<nav>
    <ul>
        <li><a href="/" class="home-button">Главная</a></li>
        <li><a href="/about">Об авторе</a></li>
        <li><a href="/menu">Меню</a></li>
        <li><a href="/reserve">Брони</a></li>
        <li><a href="/recipes" th:if="${role == 'ROLE_COOK'}">Рецепты</a></li>
        <li><a href="/stock" th:if="${role == 'ROLE_MANAGER' or role == 'ROLE_COOK'}">Склад</a></li>
        <li><a href="/statistics" class="active" th:if="${role == 'ROLE_MANAGER'}">Статистика</a></li>
        <li><a href="/orders" th:if="${role == 'ROLE_WAITER'}">Заказы</a></li>
        <li><a href="/logout" th:if="${role != 'GUEST'}">Выход</a></li>
    </ul>
</nav>

<div class="container">
    <h1>Статистика</h1>

    <!-- Выпадающий список для выбора периода -->
    <form action="/statistics/update" method="post">
        <label for="period">Выберите период:</label>
        <select id="period" name="period">
            <option value="day" th:selected="${timePeriod == 'day'}">День</option>
            <option value="week" th:selected="${timePeriod == 'week'}">Неделя</option>
            <option value="month" th:selected="${timePeriod == 'month'}">Месяц</option>
        </select>
        <button type="submit">Обновить</button>
    </form>

    <!-- Отображение статистики -->
    <div class="statistic">
        <strong>Топ-3 популярных блюда:</strong>
        <ul>
            <li th:each="dish : ${popularDish}" th:text="${dish.dishName}"></li>
        </ul>
    </div>

    <div class="statistic">
        <strong>Топ-3 популярных столика:</strong>
        <ul>
            <li th:each="table : ${popularTable}" th:text="${table.id}"></li>
        </ul>
    </div>

    <div class="statistic">
        <strong>Топ-3 популярных времени для брони:</strong>
        <ul>
            <li th:each="time : ${popularTime}" th:text="${time}"></li>
        </ul>
    </div>

    <div class="statistic">
        <strong>Средний чек за <span th:text="${timePeriod}"></span>:</strong> <span th:text="${averageCheck}"></span> рублей
    </div>

</div>

</body>
</html>
